---
---

$header-bg-color: #073058 !default;
$header-bg-color-secondary: #CB2162 !default;

$section-headings-color: #073058 !default;

$body-link-color: #CB2162 !default;

@import "{{ site.theme }}";

thead{
    display: none;
}

.main-content {
    table{
        tbody {
            td {
                border: 0;
                a {
                    img {
                        -webkit-transition: .3s -webkit-filter linear;
                        -moz-transition: .3s -moz-filter linear;
                        -moz-transition: .3s filter linear;
                        -ms-transition: .3s -ms-filter linear;
                        -o-transition: .3s -o-filter linear;
                        transition: .3s filter linear, .3s -webkit-filter linear;
                        &:hover{
                            filter: grayscale(1);
                        }
                    }
                }
            }
        }
    }
}