---
---

$header-bg-color: #073058 !default;
$header-bg-color-secondary: #CB2162 !default;

$section-headings-color: #073058 !default;

$body-link-color: #CB2162 !default;

@import "{{ site.theme }}";

thead{
    display: none;
}

tbody {
    td {
        border: 0;
    }
}