---
---

$header-bg-color: #073058 !default;
$header-bg-color-secondary: #CB2162 !default;

$section-headings-color: #073058 !default;

$body-link-color: #CB2162 !default;

@import "{{ site.theme }}";

.main-content {
    font-size: .9rem;
}

.btn {
    border-radius: 0;
    border-width: 2px;
}

thead{
    display: none;
}

.page-header{
    background-image: url(/knowage-gallery-templates/assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: 0% 30%;
    background-size: cover;
}

.main-content {
    table{
        tbody {
            td {
                border: 0;
                a {
                    img {
                        transition: .3s box-shadow linear;
                        &:hover{
                            box-shadow: 3px 3px 3px #ccc;
                        }
                    }
                }
            }
        }
    }
}